/* Background */
#about {
  width: auto;
  min-height: 100vh;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
}

.background {
  
}

.background-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.background-img {
  width: 340px;
  height: 440px;
  object-fit: cover;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.background-content {
  display: block;
  width: 900px; 
  height: 500px; 
  writing-mode: horizontal-tb;
  background-color: #283618;
  color: white;
  padding: 2em; 
  font-size: larger;
}

/* Interests */
.interests {
  width: auto;
  min-height: 100vh;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  min-height: 80vh;
  width: 90%;
  margin: 0 auto;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.icon {
  font-size: 4em;
}

/* Hobbies */

.hobbies {
  width: auto;
  min-height: min-content;
  background-color: #595f39;
}

/* mobile view */
@media (max-width: 768px) {
  .icon-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
}
