.home {
    min-width: 100vh; 
    height: 90vh; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
}

.profile-img {
    width: 340px; 
    height: 440px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}