#contact {
  background: #11201e;
  color: white;
}

.copyright {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.copy-left {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: start;
  /* background-color: black; */
}

.copy-right {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding-top: 2rem;
}

.copy-left > h2 {
  font-size: 3rem;
  height: 100%;
  width: 100%;
  max-width: 350px;
  border-bottom: none;
}

.copy-right > h2 {
  font-size: 3rem;
  height: 100%;
  width: 100%;
  max-width: 350px;
  border-bottom: none;
}

.copy-comfy {
  font-size: 2rem;
  margin: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials > a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}

.socials > a:hover {
  transform: scale(130%);
}
