.content {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.content p {
  font-family: "Playfair Display";
  font-size: 3rem;
  font-weight: 300;
  text-transform: downcase;
}
